@font-face {
  font-family: china;
  src: url(./3856NeueMachina.woff2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#page2 {
  width: 100%;
}

#move {
  background-color: #d9ff06;
  display: flex;
  padding: 2vw 0;
  overflow: hidden;
}

.marque {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 3vw;
  padding: 0 1.5vw;
  transform: translateX(-100%);
}

.marque h1 {
  font-size: 4vw;
  text-transform: uppercase;
  font-family: china;
}

.marque img {
  height: 4vw;
}
