.container {
  width: 100%;
  display: flex;
  min-height: 50vh;
  justify-content: space-between;
  align-items: center;
}

.heading {
    /* background-color: #fff; */
    width: 40vw;
    margin-left: 5rem;
}
h1 {
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(62, 61, 61);
    font-weight: bold;
}
.heading p {
    font-size: 20px;
}

svg {
  max-width: 40vw;
  max-height: 80vh;
  aspect-ratio: 1 / 1;
}

/* Clip animation */
#blobClip {
  transform-origin: center;
  transition: transform 0.4s ease-out;
}

/* Hover effects */
svg:hover #blobClip {
  transform: scale(1.15);
}

svg:hover .text-content {
  fill: white;
  mix-blend-mode:luminosity;
}

.text-content {
  font: 700 10px/1.2 system-ui, -apple-system, Segoe UI, Roboto, Arial,
    sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  fill: black;
  transition: fill 0.5s ease;
}